$green-color: #0e910e;
$deep-green: #036903;
$light-green: #1dee28;
$yellow-color: #FFC000;
$orange-color: #FE541D;
$deep-orange: #cf3501;
$red-color: rgb(255, 31, 31);
$deep-red: rgb(224, 0, 0);
$white: #fff;
$light-white: #F5F5F5;
$deep-white: #e7e7e7;
$deep-white2: #D0D3D4;
$light-black: #535353;
$deep-black: #161515; 
$black: #000;









