






.green{
    color: $green-color;
}
.light-green{
    color: $light-green;
}
.deep-green{
    color: $deep-green;
}
.bg-green{
    background: $green-color;
}
.light-white{
    color: $light-white;
}
.deep-white{
    color: $deep-white;
}
.deep-white2{
    color: $deep-white2;
}
.bg-light-white{
    background: $light-white;
}
.light-black{
    color: $light-black;
}
.deep-black{
    color: $deep-black;
}
.bg-light-black{
    background: $light-black;
}
.black{
    color: $black;
}
.bg-black{
    background: $black;
}
.white{
    color: $white;
}
.bg-white{
    background: $white;
}
.yellow{
    color: $yellow-color;
}
.bg-yellow{
    background: $yellow-color;
}
.orange{
    color: $orange-color;
}
.bg-orange{
    background: $orange-color;
}
// *********** Margin Left Start 
.ml-2{
    margin-left: 2px;
}
.ml-3{
    margin-left: 3px;
}
.ml-4{
    margin-left: 4px;
}
.ml-5{
    margin-left: 5px;
}
.ml-6{
    margin-left: 6px;
}
.ml-7{
    margin-left: 7px;
}
.ml-8{
    margin-left: 8px;
}
.ml-9{
    margin-left: 9px;
}
.ml-10{
    margin-left: 10px;
}
.ml-11{
    margin-left: 11px;
}
.ml-12{
    margin-left: 12px;
}
.ml-13{
    margin-left: 13px;
}
.ml-14{
    margin-left: 14px;
}
.ml-15{
    margin-left: 15px;
}
.ml-16{
    margin-left: 16px;
}
.ml-17{
    margin-left: 17px;
}
.ml-18{
    margin-left: 18px;
}
.ml-19{
    margin-left: 19px;
}
.ml-20{
    margin-left: 20px;
}

// *********** Margin Right Start 

.mr-2{
    margin-right: 2px;
}
.mr-3{
    margin-right: 3px;
}
.mr-4{
    margin-right: 4px;
}
.mr-5{
    margin-right: 5px;
}
.mr-6{
    margin-right: 6px;
}
.mr-7{
    margin-right: 7px;
}
.mr-8{
    margin-right: 8px;
}
.mr-9{
    margin-right: 9px;
}
.mr-10{
    margin-right: 10px;
}
.mr-11{
    margin-right: 11px;
}
.mr-12{
    margin-right: 12px;
}
.mr-13{
    margin-right: 13px;
}
.mr-14{
    margin-right: 14px;
}
.mr-15{
    margin-right: 15px;
}
.mr-16{
    margin-right: 16px;
}
.mr-17{
    margin-right: 17px;
}
.mr-18{
    margin-right: 18px;
}
.mr-19{
    margin-right: 19px;
}
.mr-20{
    margin-right: 20px;
}


// ********* Padding Left Start 
.pl-2{
    padding-left: 2px;
}
.pl-3{
    padding-left: 3px;
}
.pl-4{
    padding-left: 4px;
}
.pl-5{
    padding-left: 5px;
}
.pl-6{
    padding-left: 6px;
}
.pl-7{
    padding-left: 7px;
}
.pl-8{
    padding-left: 8px;
}
.pl-9{
    padding-left: 9px;
}
.pl-10{
    padding-left: 10px;
}
.pl-11{
    padding-left: 11px;
}
.pl-12{
    padding-left: 12px;
}
.pl-13{
    padding-left: 13px;
}
.pl-14{
    padding-left: 14px;
}
.pl-15{
    padding-left: 15px;
}
.pl-16{
    padding-left: 16px;
}
.pl-17{
    padding-left: 17px;
}
.pl-18{
    padding-left: 18px;
}
.pl-19{
    padding-left: 19px;
}
.pl-20{
    padding-left: 20px;
}

// ********* Padding Right Start 
.pr-2{
    padding-right: 2px;
}
.pr-3{
    padding-right: 3px;
}
.pr-4{
    padding-right: 4px;
}
.pr-5{
    padding-right: 5px;
}
.pr-6{
    padding-right: 6px;
}
.pr-7{
    padding-right: 7px;
}
.pr-8{
    padding-right: 8px;
}
.pr-9{
    padding-right: 9px;
}
.pr-10{
    padding-right: 10px;
}
.pr-11{
    padding-right: 11px;
}
.pr-12{
    padding-right: 12px;
}
.pr-13{
    padding-right: 13px;
}
.pr-14{
    padding-right: 14px;
}
.pr-15{
    padding-right: 15px;
}
.pr-16{
    padding-right: 16px;
}
.pr-17{
    padding-right: 17px;
}
.pr-18{
    padding-right: 18px;
}
.pr-19{
    padding-right: 19px;
}
.pr-20{
    padding-right: 20px;
}