// 404 Banner Area Start
.fourBanner{
    width: 100%;
    padding: 50px;
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../images/404/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__content{
        width: 100%;
        height: 60vh;
        @extend %displayProperty;
    }&__para{
        color: $white;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2px;
    }
}
// 404 Banner Area End

// Ops Area Start
.ops{
    @extend %whp;
    &__head{
        font-size: 7rem;
        font-family: $font-playfair;
        font-weight: bold;
        margin-bottom: 20px;
        background-image: url("../images/404/2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-background-clip:text;
            background-clip:text;
        color: transparent;
    }&__subhead{
        font-size: 24px;
        color: $deep-orange;
        text-transform: uppercase;
        font-weight: bold;
    }&__btn{
        display: inline-block;
        background: $green-color;
        text-transform: uppercase;
        font-size: 14px;
        color: $white;
        padding: 6px 18px;
        font-weight: 300;
        @include borderRadius(24px);
        @include transition(.4s);
        &:hover{
            background: $deep-green;
            color: $white;
        }
    }
    @media(max-width: 575px){
        &__head{
            font-size: 3rem;
        }&__subhead{
            font-size: 1.2rem;
        }
    }
}

// Ops Area End









