// About Banner Area End
.aboutBanner{
    width: 100%;
    padding: 50px;
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../images/about/16.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__content{
        width: 100%;
        height: 60vh;
        @extend %displayProperty;
    }&__para{
        color: $white;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 2px;
    }
}
// About Banner Area End

// About Dreamers Area Start
.aboutDreamers{
    @extend %whp;
    @media(max-width: 575px){
        &__head{
            font-size: 22px;
        }&__para{
            font-size: 14px;
        }
    }
}
// About Dreamers Area End

// About Gallery Area Start
.aboutGallery{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    &__leftImages{
        width: 100%;
        height: 100%;
        @extend %displayProperty;
    }&__leftImg{
        @include borderRadius(4px)
    }&__rightImages{
        padding: 10px 0px;
        background: $light-white;
    }&__rightImg{
        margin: 10px 0px;
        @include borderRadius(4px)
    }
}
// About Gallery Area End

// About Story Start 
.aboutStory{
    width: 100%;
    height: auto;
    &__leftItems{
        padding: 40px 50px;
    }
    &__head{
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 20px;
        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 40px;
            height: 2px;
            background: $deep-white2;

        }
    }&__para{
        line-height: 2.2;
    }
    @media(max-width: 575px){
        &__leftItems{
            padding: 40px 10px;
        }
    }
}
// About Story End 

// About Think Start
.aboutThink{
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    &__content{
        padding: 40px 50px;
    }&__para{
        line-height: 2.2;
    }&__list{
        color: $light-black;
        line-height: 2.2;
    }&__circle{
        font-size: 6px;
        margin-right: 6px;
        color: $deep-white;
    }
    @media(max-width: 575px){
        &__content{
            padding: 40px 10px;
        }
    }
}
// About Think End

// About Info Area Start
.aboutInf{
    @extend %whp;
    padding: 150px 50px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/about/15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &__para{
        color: $white;
        text-align: center;
    }
    @media(max-width: 575px){
        padding: 40px 10px;
    }
}

// About Info Area End






